<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Modificar Arriendo", edit_movie_path(@movie) %> |
  <%= link_to "Regresar a Películas", movies_path %>

  <%= button_to "Eliminar Película", @movie, method: :delete, class:'btn btn-danger mt-3' %>
</div>